* {
    margin: 0;
    font-family: 'Hind', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
}

/* --------------------HEADER--------------------------------- */
header {
    background-color: #8D99AE;
}

header .container {
    display: flex;
    height: 90px; 
    align-items: center;
    justify-content: space-between;
}

header .container #logo {
    height: 50%;
}

header .container #ul_header {
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    color: #2B2D42;
    font-size: 20px;
    gap: 10%;
}

header .container #ul_header #header_buttons {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: flex-end;
}

header .container #ul_header #header_buttons .li_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
}

header .container #ul_header #header_buttons #btn_login{
    color: #EF233C;
    outline: solid 1px #EF233C;
    outline-offset: -1px;
    background-color: #EDF2F4;
}

header .container #ul_header #header_buttons #btn_cadastrar{
    color: #EDF2F4;
    background-color: #EF233C;
}