input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: solid 2px #EF233C;
    border-radius: 20px;
    padding-left: 10px;
    color: #2B2D42;
}

input:focus {
    outline: none;
}

button {
    width: 150px;
    height: 36px;
    border-radius: 20px;
    font-size: 24px;
    color: #EDF2F4;
    background-color: #EF233C;
}

.main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #354C73 0%, #8D99AE 53.12%, #354C73 100%); 
    padding-bottom: 100px;
}

.titulo {
    position: static;
    margin-top: 5%;
}

#pokedex_input {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 5%;
}

.box {
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #EDF2F4;
    border-radius: 20px;
    padding-bottom: 50px;
}

#pokemonName {
    font-size: 28px;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #2B2D42;
}

.content {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#pokemonImg {
    height: 300px;
}

#pokemonInfo {
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    border-left: solid 1px #2B2D42;
    border-right: solid 1px #2B2D42;
}

.divPokemonInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 16px;
}

#pokemonStats {
    width: 500px;
    width: fit-content;
}

#pokemonEvolutionLine {
    min-width: fit-content;
    max-width: 60%;
    height: 100%;
    height: fit-content ;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

#evoLineTitulo {
    width: 100%;
}

.evoLinePokemon {
    width: 180px;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    justify-content: space-evenly;
}

.evoLinePokemon span {
    color: #2B2D42;
}

.evoLineImg {
    width: 100%;
}

#pokemonType1 {
    width: 90px;
    height: 20px;
    text-align: center;
    color: #EDF2F4;
    border: solid 1px black;
    border-radius: 2%;
    font-size: 16px;
}

#pokemonType2 {
    width: 90px;
    height: 20px;
    text-align: center;
    color: #EDF2F4;
    border: solid 1px black;
    border-radius: 2%;
    font-size: 16px;
}

#pokemonTypeChart {
    width: 30%;
    height: 300px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitulo {
    color: #2B2D42;
    font-size: 24px;
    font-weight: 500;
}

.subtitulo2 {
    color: #2B2D42;
    font-size: 18px;
}


tr {
    height: 40px;
    padding: 0;
}

th {
    width: 40px;
    height: 40px;
    padding: 0;
    border: solid 1px #354C73;
    font-size: 14px;
    font-weight: normal;
    color: #EDF2F4;
}

td {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border: solid 1px #354C73;
    color: #EDF2F4;
    font-size: 14px;
}