.main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #354C73 0%, #8D99AE 53.12%, #354C73 100%); 
    padding-bottom: 20px;
}

.titulo {
    position: static;
    margin-top: 5%;
}

.subtitulo {
    font-size: 20px;
    color: #2B2D42;;
}

.box {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #EDF2F4;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

tr {
    height: 40px;
    padding: 0;
}

th {
    width: 40px;
    height: 40px;
    padding: 0;
    border: solid 1px #354C73;
    font-size: 14px;
    font-weight: normal;
    color: #EDF2F4;
}

td {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border: solid 1px #354C73;
    color: #EDF2F4;
    font-size: 14px;
}

#th_titulo {
    color: #354C73;
    font-size: 12px;
    font-weight: bold;
}

.type-column {
    width: 80px;
    font-size: 14px;
}

