.main {
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #354C73 0%, #8D99AE 53.12%, #354C73 100%); 
}

.titulo {
    position: static;
    margin-top: 5%;
}

.box {
    width: 80vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #EDF2F4;
    border-radius: 20px;
}

tr {
    height: 40px;
    padding: 0;
}

th {
    width: 40px;
    height: 40px;
    padding: 0;
    border: solid 1px #000000;
}

td {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border: solid 1px #000000;
}

#th_titulo {
    font-size: 12px;
}

.immune {
    background-color: #000000;
    color: #FEFA00;
    font-weight: bold;
}

.not-very-effective {
    background-color: #EA0000;
    color: #FEFA00;
    font-weight: bold;
    font-size: 24px;
}

.super-effective {
    background-color: #25BB00;
    color: #FEFA00;
    font-weight: bold;

}

.normal-dmg {
    background-color: #EDF2F4;
    color: #EDF2F4;
    font-weight: bold;

}